.home-container{
    grid-template-columns: 4.75fr 7.25fr;
    align-items: center;
    gap: 2rem 10rem;
    padding:2.5rem;
    min-width: 100vh;
}

.home-img{
    height: calc(100vh - 5rem);
    width: 100%;
    object-fit: cover;
    border-radius: 2rem;
}

.home-title span {
    color: var(--first-color);
}

.home-title::before{
    content: '';
    position: absolute;
    top: 22%;
    left: 0;;
}